[submodule "dependencies/Detours"]
	path = dependencies/Detours
	url = git@github.com:microsoft/Detours.git
[submodule "dependencies/imgui"]
	path = dependencies/imgui
	url = git@github.com:ocornut/imgui.git
[submodule "dependencies/RakNet"]
	path = dependencies/RakNet
	url = git@github.com:dntAtMe/RakNet.git
[submodule "dependencies/cmake-imgui"]
	path = dependencies/cmake-imgui
	url = git@github.com:giladreich/cmake-imgui.git
